body {
    background-color: #add8e6;
    font-family: 'Lato', sans-serif;
    color: #212529;
}
h4 {
    border-bottom: 1px solid;
    border-color: #a0c8d6;
    width:48%;
    padding-bottom: 15px;
    font-size: 18px
}
/*
table {
    border: 1px solid;
    background-color: #f6f7f9
}
td {
    width: 180px
}
table input {
    border-radius: 3px;
    border: 1px solid gray;
    height: 25px;
    margin-left: 10px;
}
table textarea {
    border-radius: 3px;
    border: 1px solid gray;
    margin-left: 10px;
    color: #757575;
    font-family: 'Lato', sans-serif;
}
*/
.red-number {
    color: red;
}
.blue-email {
    color: #17a2b8;
}
/*
.second-table {
    min-height: 43vh
}
*/
.mapouter{
    margin-left: 5px
}
.map-icon {
    width: 50px;
    height: 50px;
}
input[type="submit"] {
    background-color: #dc3545;
    width: 60px;
    border: none;
    color: white;
    font-size: 15px;
    height: 35px;
    border-radius: 5px;
}
.first-section {
    background-color: #f6f7f9;
    width: 48%;
    min-height: 15vh;
    display: flex;
    flex-direction: column
}
.adress h5{
    margin: 1em 0 0 1em;
}
.wrapper {
    display: flex;
    flex-direction: row;
}
.first-row {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.first-row span {
    margin: 1em 0 1em 1em;
}
.second-row, .third-row {
    display: flex;
    flex-direction: column;
}
.second-row {
    justify-content: center;
    padding-left: 1em;
}
.third-row {
    padding-left: 3em;
}
.second-section {
    margin-top: 4em;
    background-color: #f6f7f9;
    width: 48%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
}
.second-section {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.right-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1em
}
.left-part {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1em
}
input[type="text"] {
    height: 25px;
    border: 1px solid #96a6b5;
    padding-left: 1em;
    border-radius: 5px;
    width: 42%;
}
textarea {
    width: 92%;
    border-radius: 5px;
    border: 1px solid #96a6b5;
    color: #96a6b5;
    padding-left: 1em;
    font-family: 'Lato', sans-serif;
}
.right-section-icons {
    display: flex;
    flex-direction: row;
}
.right-section-icons {
    padding: 0
}
.right-section-icons li img{
    width: 30px;
    height: 30px;
}
.right-section-icons li {
    list-style: none;
    margin-right: 0.5em;
}
.info-row {
    margin-right: 0.5em
}
.input-style {
    margin-top: 2em
}

